body {
    background: #F8F9FA;
    padding-top: 65px; 
    font-family: 'Work Sans', sans-serif;
}

h2 { 
    color: rgb(40, 131, 104);
    font-size: 20px;
}
h3 {
    color:  rgb(40, 131, 104);
}

h4 {
    color: black;
    font-size: 15px;
    font-weight: 300;
}

h5 {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

h6 {
    display: inline;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
}

h6:hover {
    color: rgb(136, 135, 135);
    text-decoration: none !important;
}

p {
    color:  rgb(29, 29, 29);
}

.navbar-toggler {
    border: none;
}

.fa-bars {
   color: rgb(77, 74, 74);
}

.fa-bars:before {
    color: black;
}

.far, .fab, .fas {
    color: #fff;
}

.fa-side {
    color:rgb(29, 29, 29);
}
.content {
    background: #fff;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, .25);
    padding: 20px;
    margin: 10px;
}

.describe {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.03em;
}

.dropdown-item:active {
    background: white;
    color: black;
}
.p-footer {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    padding-top: 5px;
    font-weight: 300;
}

.page-footer {
    background-color: #333E46;
    font-family: 'Work Sans', sans-serif; 
    font-size: 14px;
    color: #d0dbe6;
}

.btn-footer {
    background: #fff;
    color: #000;
    font-size: 14px;
}

.btn-footer:hover {
    background: rgb(255, 255, 255);
    color: rgb(170, 170, 170);
}

.btn-footer:active, .btn-footer:active:focus, .btn-footer:focus {
    color: rgb(66, 66, 66);
    background: rgb(255, 255, 255) !important;
    box-shadow: none !important;

}
.fa-content {
    color: rgb(40, 131, 104);
}

img {
    padding: 2px;
}


.table-hover tr:hover {
    color: rgb(40, 131, 104);
}

.hovereffect:hover img {
    background: #42b078;
    opacity: 0.9;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

.img-select img {
    background: #42b078;
}

.table {
    font-size: 14px;
}

@media (max-width: 480px) {
    img {    
        height: 80%;
        width: 80%;
        display: inline-block;
    }
}


.btn-first {
    display: inline-block;
    background: #4c9fff;
    border: none;
    font-size: 14px;
    color: #fff;
}

.btn-first:hover {
    color: #fff;
    background: #84beff;
}

.btn-first:active, .btn-first:active:focus, .btn-first:focus {
    color: #fff;
    background: #84beff !important;
    box-shadow: none !important;

}
.btn-second {
    background: #b2b2b2;
    border: none;
    font-size: 14px;
}

.btn-second:hover{
    color: #fff;
    background: #cecece;
}

.btn-second:active, .btn-second:active:focus, .btn-second:focus {
    color: #fff;
    background: #cecece !important;
    box-shadow: none !important;

}

.footer-image {
    height: 40px;
    width: 40px;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 50%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid transparent;
    margin: -1px;
}

@media(max-width: 600px) {
    .logo {width: 45px;height: 38px;}
}